*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
}
p{
    color: #505050;
}
nav .navbar-light .navbar-nav .nav-link{
    color: black;
}

nav.navbar-light .navbar-nav .nav-link:hover,
nav.navbar-light .navbar-nav .nav-link:active,
nav.navbar-light .navbar-nav .nav-link:focus
{
    font-weight: 600;
}

nav.navbar-light .navbar-nav .nav-link.active{
    font-weight: 700;
    color: #1D2A5E;
}
nav.navbar-light .navbar-nav .nav-link:hover{
    color: #1D2A5E; 
}
.img-product{
    min-height: 288px; 
    max-height: 288px; 
    width:100%; 
    object-fit: cover;
}


/**
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/**
fondo de colores
*/
.bg-primary{
   background-color: #1D2A5E !important; 
}
/*
    Tipo de letra
*/


/* width */

/**
Colores
*/
.text-primary{
    color: #1D2A5E !important;
}
.btn-danger{
    background-color: #E20A1A !important;
}
.btn-success{
    color: #fff;
    background-color: #146c43 !important;
    border-color: #13653f !important;
}
.btn-warning{
    color: #fff;
    background-color: #ffcd39 !important;
    border-color: #ffc720;
}
.btn-outline-danger{
    color: #E20A1A;
    border-color:#E20A1A !important;
}
.btn-outline-danger:hover{
    border-color:#E20A1A !important; 
    background-color: #E20A1A !important;
}
.text-light {
    color: #f8f9fae0 !important;
}
/**

Tamaños de letra
*/
.font-size-41{
    font-size: 41px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-21{
    font-size: 21px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-19{
    font-size: 19px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-14{
    font-size: 14px;
}

.font-size-13{
    font-size: 13px !important;
}

.font-size-12{
    font-size: 12px;
}

.font-size-11{
    font-size: 11px;
}

.header{
    font-size: 73%;
}
.header i{
    color: #E20A1A;
}

.header *, .header a:hover,
.header a:focus
.header a:active{
    color: #333333;
    text-decoration: none;
}
.header input {
    display: none;
}
.header form:hover input{
    display: block;
}
.header form:hover button, .header form:hover i{ 
    color: white;
    background-color: #E20A1A;;
}
input::placeholder,
input,
textarea{
    font-size: 12px;
    color: #1D1D1A;
}
.breadcrumb{
    margin-bottom: 0;
}
.breadcrumb a, .breadcrumb *{
    color: #333333 !important;
}
.newsletter .form-control:focus,
.newsletter .form-control:active
.newsletter .form-control:hover{
    box-shadow: none;
    border-color: none;

}

.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

/*
input:focus,
input:active{
    border: none !important;
    box-shadow: none !important;
}
*/
.card{
    background-color: transparent;
    border: none;
}
.producto:hover{
    box-shadow: 5px 5px 10px #00000029;
}

.producto p a{
    color: #1D1D1A;
    font-size: 17px;
    text-decoration: none;
}

.producto p a:hover{
    color: #1D1D1A;
    text-decoration: none;
    font-weight: 600;
}
.contenedor-breadcrumb{
    background-color: #f6fbfe;
}

.color-producto{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

td{
    vertical-align: middle;
}

.carousel-indicators{
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    left: 0;
    right: 0;
    margin: auto;
}
#sliderHero .carousel-inner, #sliderHero .carousel-item{
    height: 500px;
}
#sliderHeroEmpresa .carousel-inner, #sliderHeroEmpresa .carousel-item{
    height: 460px;
}
.carousel-item{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.destacado{
    color: #7199B3;
    font-weight: bold;
    font-size: 31px;
    text-align: right;
}
.texto-destacado{
    font-size: 26px;
    text-align: left;
    color: #4D5258;

}
.ul-empresa ul {
    list-style: none; /* Remove default bullets */
    padding: 0;
}
.ul-empresa ul li{
    margin-bottom: 15px;
}
.ul-empresa ul li::before {
    content: "";
    color: #7199B3;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #7199B3;
    border-radius: 100%;
    margin-right: 10px;
}
.tabla-producto td, .tabla-producto{
    border: 1px solid #EAF0F3;
}
.ul-calidad li{
    border-top: 1px solid #acace88c;
    border-bottom: 1px solid #acace88c;
}
@media (min-width: 50px){
    .w-sm-100{
        width: 100%;
    }
    .categoria-producto{
        bottom: 0; 
    }
    .contenedor-color{
        width: 100%;
        height: 94px;
    }

    #hilos-libertad h5{
        font-size: 1.25rem;
    }
    #sliderHeroEmpresa .carousel-indicators {
        left: 0;
        right: 0;
        bottom: 0;
    }
}


@media (min-width: 720px){
    .categoria-producto{
        bottom: 120px;
    }
    .w-md-50{
        width: 50%;
    }
    .rcard{
        max-width:200px; 
        min-width:200px
    }

    .contenedor-color{
        width: 30%;
    }

    .contenedor{
        max-width: 200px;
        min-width: 200px;
        min-height: 100px;
        max-height: 100px;
    }

    #hilos-libertad h5{
        font-size: 30px;
    }

    #sliderHeroEmpresa .carousel-indicators{
        bottom: 10px;
    }
    .w-md-48{
        width: 48% !important;
    }
}


@media (min-width: 992px){
    nav.navbar-light .navbar-nav .nav-link.active::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -38px;
        height: 5px;
        background-color: #1D2A5E;  
    }
    nav.navbar-light .navbar-nav .nav-link{
        font-size: 90%;
    }
    .categoria-producto .container{
        max-width: 980px;
        
    }
    .contenedor-color{
        width: 18%;
    }
    .hero{
        height: 460px !important;
    }
    
    .descripcion-producto{
        width: 70%;
    }
}
@media (max-width: 992px){
    .descripcion-producto{
        width: 100%;
    }
    .card-producto{
        min-width: 100%;
    }
    .contenedor-producto{
        position: static !important;
        flex-direction: column;
    }
    .descripcion-producto{
        margin-top: 10px !important;
    }
    #section1 > div, #section2 > div{
        min-width: 100% !important;
    }
}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1270px;
    }
}
@media (max-width: 768px){
    .font-size-41{
        font-size: 25px;
    }
    .font-size-24{
        font-size: 19px;
    }
    .carousel-caption{
        max-width: 70%;
    }
    nav ul li form button {
        background-color: #E20A1A !important;
        color: white !important;
        padding: 0.5rem !important;
    }

    #heroProducto h2{
        font-size: 19px;
    }
    .logo-header{
        max-width: 150px;
    }
    .ancho-boton{
        width: 100%;
    }
    #heroProducto p{
        font-size: 15px;
    }
    .rcard{
        max-width:50%; 
        min-width:50%;
    }
}

@media (max-width: 500px){
    .logo-header{
        max-width: 100px;
    }

    .rcard{
        max-width:100%; 
        min-width:100%;
    }
}
